# dependencies (recreated by npm install - too big for GitHub)
node_modules/
.pnp

# build outputs (recreated by npm run dev)
.next/
out/
build/
dist/

# logs
*.log
npm-debug.log*
yarn-debug.log*

# environment secrets
.env*
!.env.example

# OS
.DS_Store